{% extends 'product/base.html' %}

{% block content %}
    <h1 style="text-align: center;"> Товары</h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Название</th>
            <th scope="col">Категория</th>
          </tr>
        </thead>
        <tbody>
        {% for p in products %}

          <tr>
            <th scope="row">{{ p.id }}</th>
            <td>{{p.name}}</td>
            <td>{{p.category}}</td>
            <td>{{p.photo}}</td>
            
            <td>
                <a href="{% url 'product_detail' p.id %}" class = 'btn-primary btn-sm'>Подробнее</a>
            </td>
          </tr>
        {% endfor %}
        
        </tbody>
      </table>

{% endblock %}